@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Regular.eot");
  src: url("../fonts/subset-TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Regular.woff2") format("woff2"), url("../fonts/subset-TTNorms-Regular.woff") format("woff"), url("../fonts/subset-TTNorms-Regular.ttf") format("truetype"), url("../fonts/subset-TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Medium.eot");
  src: url("../fonts/subset-TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Medium.woff2") format("woff2"), url("../fonts/subset-TTNorms-Medium.woff") format("woff"), url("../fonts/subset-TTNorms-Medium.ttf") format("truetype"), url("../fonts/subset-TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Bold.eot");
  src: url("../fonts/subset-TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Bold.woff2") format("woff2"), url("../fonts/subset-TTNorms-Bold.woff") format("woff"), url("../fonts/subset-TTNorms-Bold.ttf") format("truetype"), url("../fonts/subset-TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Norms", serif;
  box-sizing: border-box;
  min-width: 375px;
}

.header {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.header__icon {
  text-decoration: none;
  display: block;
  border: none;
}
.header__logo {
  border: none;
  height: 100%;
  transition-duration: 1s;
}
.header__logo:hover {
  transform: scale(0.8);
}
.header__link {
  text-decoration: none;
  display: block;
  border: none;
}
.header__link:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0, 0, 0, 0);
}
.header__link_adress {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.header__link_tel {
  color: white;
  line-height: 19px;
  font-weight: 700;
  font-size: 16px;
}
.header__dot {
  margin-left: 10px;
  margin-right: 10px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item_nav {
  margin-right: 15px;
}
.header__item_nav:last-child {
  margin-right: 0;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.header__link_bot {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.header__lang_active {
  background-image: url(../images/active.svg);
  background-repeat: no-repeat;
}
.header__lang {
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: white;
  line-height: 14px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__nav-bar {
  display: flex;
  align-items: center;
}
.header__link_facebook:hover {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0, 0, 0, 0);
}

.container {
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../images/pet.svg), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-position: bottom center, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 600px, auto, auto;
  min-height: 100vh;
}
.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 243px;
}
.container__heading {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: white;
}
.container__scroll-down {
  margin-top: 290px;
  transition: 1s;
}
.container__scroll-down:hover {
  opacity: 0.5;
}

.dropbox {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-position: center;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 50px;
}
.box__scroll-item {
  border-right: 4px solid #E6E6F0;
  padding-right: 40px;
  padding-top: 20px;
}
.box__scroll-item:first-child {
  padding-top: 0;
}
.box__scroll-item:hover {
  border-right: 4px solid #F0145A;
}
.box__heading {
  font-size: 32px;
  line-height: 38px;
  color: white;
  font-weight: 500;
}
.box__paragraph {
  font-size: 21px;
  line-height: 30px;
  color: white;
  font-weight: 300;
}
.box__scroll-menu {
  width: 50%;
}
.box__heading {
  margin-bottom: 20px;
}
.box__experience {
  width: 600px;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 40px;
}
.box__services {
  margin-top: 80px;
}
.box__services-link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #B3B3BA;
  text-decoration: none;
  display: block;
  border: none;
  text-align: center;
}
.box__services_arrow-link {
  display: flex;
  align-items: center;
}
.box__services-heading {
  font-size: 42px;
  line-height: 50px;
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-bottom: 75px;
}
.box__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box__before:before {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
  right: 20px;
  bottom: -10px;
}
.box__after:after {
  content: "";
  position: absolute;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
  right: 40px;
  bottom: -20px;
}

label {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  text-decoration: none;
  display: block;
  border: none;
  text-align: right;
  cursor: pointer;
  width: auto;
}

input:checked ~ label {
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 58px;
}
.card__icon {
  margin-bottom: 20px;
}
.card__title {
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
  font-weight: 400;
  margin-bottom: 15px;
}
.card__title:hover {
  color: #0085FF;
}
.card__title:active {
  color: #006CCF;
}
.card__article {
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.main__block {
  display: flex;
  background-color: #F5F5FA;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}
.main__link-box {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.main__link-team {
  color: #24A3FF;
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 17px;
}
.main__link-team:hover {
  color: #0085FF;
}
.main__link-team:active {
  color: #006CCF;
}
.main__svg {
  text-align: center;
}
.main__title {
  background: -webkit-linear-gradient(121.42deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main__block_right {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}
.main__title-chief {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #B3B3BA;
}
.main__title-less {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #B3B3BA;
}
.main__avatar {
  display: none;
}
.main__title-chief_mob {
  display: none;
}
.main__cases {
  background-color: #F5F5FA;
  margin-top: 41px;
  border: 1px solid #FFFFFF;
  max-width: 433px;
}
.main__cases-link {
  text-decoration: none;
  display: block;
  border: none;
  color: #F0145A;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 20px 20px;
}
.main__one-box {
  display: flex;
  flex-direction: column;
  max-width: 423px;
}
.main__drop-box {
  background-color: #F5F5FA;
  border: 1px solid #FFFFFF;
}
.main__drop-heading {
  font-size: 24px;
  line-height: 28px;
  padding: 48px 20px 20px 20px;
  color: #686887;
  font-weight: 500;
}
.main__drop-paragraph {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  padding: 0px 20px 20px 20px;
}
.main__section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
.main__drop-heading_high {
  margin-top: 105px;
  padding-top: 0;
}
.main__drop-box_tall {
  margin-top: 41px;
  max-width: 452px;
}
.main__drop-box_upright {
  margin-top: 41px;
  max-width: 421px;
}
.main__drop-box_inside {
  max-width: 100%;
}
.main__drop-box_mini {
  max-width: 316px;
}
.main__drop-heading_small {
  padding-top: 20px;
}
.main__drop-heading_pad {
  padding-top: 76px;
}
.main__drop-box_center {
  max-width: 443px;
}
.main__drop-box_right {
  max-width: 535px;
}
.main__wrap {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.main__wrap-heading {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #323264;
  font-weight: 700;
  margin: 30px 0px 30px 0px;
}
.main__item {
  border: none;
  padding: 0px;
  margin: 0;
  width: 25%;
  display: block;
}
.main__list {
  display: flex;
  flex-wrap: wrap;
}
.main__p-logo {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
.main__link_biz {
  background-color: #143646;
  padding-top: 44px;
  padding-bottom: 44px;
}
.main__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__link_blue {
  background-color: #1C4280;
  padding-top: 36px;
  padding-bottom: 36px;
}
.main__link_tap {
  background-color: #F48B30;
  padding-bottom: 38px;
  padding-top: 38px;
}
.main__link_look {
  background-color: #9E4DC3;
  padding-bottom: 39px;
  padding-top: 39px;
}
.main__link_gear {
  background-color: #F48B30;
  padding-bottom: 38px;
  padding-top: 38px;
}
.main__link_ad {
  background-color: #E2E2E4;
  padding-top: 36px;
  padding-bottom: 36px;
}
.main__link_click {
  background-color: #C71C36;
  padding-top: 30px;
  padding-bottom: 29px;
}
.main__link_eco {
  background-color: #DCF3F9;
  padding-bottom: 22px;
  padding-top: 22px;
}
.main__link_infra {
  background-color: #EAEAEA;
  padding-bottom: 30px;
  padding-top: 30px;
}
.main__link_city {
  background-color: #282240;
  padding-top: 41px;
  padding-bottom: 41px;
}
.main__link_art {
  background-color: #1D4568;
  padding-top: 37px;
  padding-bottom: 37px;
}
.main__link_ultimate {
  background-color: #000000;
  padding-top: 13px;
  padding-bottom: 12px;
}

.swiper {
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.slider-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background-color: #24A3FF;
  opacity: 1;
}

.body {
  background-color: #F5F5FA;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  position: relative;
}
.body__container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.body__link-box {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.body__link-pub {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #24A3FF;
  text-decoration: none;
  display: block;
  border: none;
}
.body__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 40px;
}
.body__article {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding-top: 20px;
  padding-bottom: 10px;
}
.body__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #B3B3BA;
  padding-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
}
.body__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: black;
  padding-bottom: 21px;
  padding-top: 20px;
}
.body__text-block {
  display: flex;
  flex-direction: column;
  padding-left: 21px;
  padding-right: 20px;
}
.body__card {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 40px;
}
.body__card-box {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-column-gap: 40px;
  height: 720px;
  overflow: hidden;
  border-bottom: 4px solid #E6E6F0;
  position: relative;
}
.body__card-pic {
  max-width: 100%;
  display: block;
  width: auto;
}
.body__button-container {
  background-image: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  height: 200px;
  position: absolute;
  width: 98%;
  top: 670px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.body__button-wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.body__button {
  background-color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-top: 16px;
  padding-bottom: 17px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-family: inherit;
  color: white;
  border-radius: 8px;
  margin-top: 110px;
  margin-bottom: 40px;
  text-decoration: none;
  display: block;
  border: none;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F5F5FA;
}
.footer__container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.footer__nav {
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}
.footer__link-adress {
  text-decoration: none;
  display: block;
  border: none;
  font-size: 16px;
  color: #323264;
  line-height: 19px;
  font-weight: 400;
}
.footer__map {
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  color: #24A3FF;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 14px;
}
.footer__dot {
  margin-left: 31px;
  margin-right: 10px;
}
.footer__menu {
  display: flex;
  align-items: center;
}
.footer__number {
  text-decoration: none;
  display: block;
  border: none;
  color: #323264;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 5px;
}
.footer__contact {
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
.footer__svg {
  margin-right: 10px;
  margin-left: 10px;
}
.footer__facebook {
  margin-right: 5px;
}
.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  margin-left: auto;
}

@media (max-width: 1319px) {
  .header {
    width: 100%;
    padding: 0;
  }
  .header__nav {
    padding-top: 0;
  }
  .header__logo {
    padding-top: 0;
    width: auto;
  }
  .header__link {
    width: auto;
  }
  .header__icon {
    padding-top: 0;
  }

  .container {
    padding: 20px 20px;
  }

  .box {
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  .box__heading {
    font-size: 22px;
    line-height: 26px;
  }
  .box__paragraph {
    font-size: 18px;
    line-height: 26px;
  }
  .box__experience {
    max-width: 300px;
  }
  .box__services-heading {
    font-size: 32px;
    line-height: 38px;
  }

  label {
    font-size: 35px;
  }

  .main {
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .main__icon {
    display: none;
  }
  .main__block_right {
    margin-top: 20px;
    margin-left: 20px;
  }
  .main__avatar {
    display: block;
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .main__wrapper {
    display: flex;
  }
  .main__text-wrap {
    display: flex;
    flex-direction: column;
  }
  .main__title-chief_mob {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #B3B3BA;
  }
  .main__title-chief {
    display: none;
  }
  .main__one-box {
    max-width: 100%;
    width: 100%;
  }
  .main__cases {
    max-width: 100%;
    border: 1px solid white;
    margin-top: 30px;
  }
  .main__drop-box_tall {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
  }
  .main__drop-box_upright {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
  }
  .main__drop-box_mini {
    max-width: 100%;
    width: 100%;
  }
  .main__drop-box_center {
    max-width: 100%;
    width: 100%;
  }
  .main__drop-box_right {
    max-width: 100%;
    width: 100%;
  }
  .main__drop-heading {
    padding-top: 20px;
  }
  .main__drop-heading_high {
    margin-top: 0;
  }
  .main__wrap {
    flex-direction: column;
    align-items: center;
  }
  .main__item {
    width: 33.3333333333%;
  }
  .main__section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .swiper {
    margin-right: 20px;
    margin-left: 20px;
  }

  .body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .body__card-box {
    grid-template-columns: 100%;
    border: none;
  }
  .body__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body__button-container {
    justify-content: center;
    width: 97%;
    height: 180px;
  }

  .card__pic {
    width: 50%;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header__menu {
    display: none;
  }
  .header__link:not(.header__link_mobile) {
    display: none;
  }
  .header__item_dotted {
    display: none;
  }
  .header__logo {
    width: 100%;
    max-height: 31px;
  }
  .header__icon {
    width: auto;
    max-width: 208px;
  }
  .header__nav {
    padding-bottom: 10px;
    width: 100%;
  }
  .header__link_tel {
    color: #B3B3BA;
    margin-left: auto;
  }
  .header__list {
    justify-content: flex-start;
  }
  .header__burger {
    display: block;
    transition-duration: 1s;
  }
  .header__burger:hover {
    transform: rotate(-90deg);
  }
  .header__lang:not(.header__lang_active) {
    color: #B3B3BA;
  }
  .header__mix {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__item_number {
    margin-left: auto;
  }
  .header__dot {
    display: none;
  }

  .container {
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../images/p.svg), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-position: bottom center, bottom right, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 600px, auto, auto;
  }
  .container__content {
    padding-top: 138px;
    margin-top: 0;
  }
  .container__scroll-down {
    margin-top: 201px;
  }
  .container__heading {
    text-align: center;
    padding-top: 0;
  }

  .box {
    flex-direction: column;
    align-items: flex-start;
  }
  .box__scroll-menu {
    width: auto;
  }
  .box__scroll-item {
    border: none;
    text-align: left;
  }
  .box__scroll-item:hover {
    border: none;
  }
  .box__scroll-item {
    display: none;
  }
  .box__experience {
    width: auto;
    margin-left: 0;
    margin-top: 10px;
    display: none;
  }
  .box__paragraph {
    padding-bottom: 20px;
  }
  .box__card {
    flex-direction: column;
  }
  .box__services {
    margin-top: 45px;
  }
  .box__services-heading {
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .test {
    display: block;
  }

  .swiper {
    overflow: hidden;
    position: relative;
  }

  .swiper-wrapper {
    padding-bottom: 36px;
  }

  .swiper-pagination-bullet-active {
    background-color: #24A3FF;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #24A3FF;
  }

  label {
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    width: auto;
    margin-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card__title {
    font-size: 18px;
    line-height: 21px;
    margin-left: 10px;
  }
  .card__article {
    font-size: 16px;
    line-height: 22px;
  }
  .card__icon-image {
    max-width: 64px;
    max-height: 64px;
  }
  .card__with {
    display: flex;
    align-items: center;
  }

  .main__title {
    font-size: 32px;
    line-height: 38px;
  }
  .main__drop-heading {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 10px;
  }
  .main__item {
    width: 50%;
  }
  .main__p-logo {
    object-fit: cover;
  }
  .main__p-logo_hillel {
    height: 35px;
  }
  .main__p-logo_wanna {
    height: 27px;
    width: 168px;
  }
  .main__p-logo_tap {
    height: 40px;
  }
  .main__p-logo_3d {
    height: 34px;
  }
  .main__p-logo_orange {
    height: 36px;
  }
  .main__p-logo_adt {
    height: 33px;
  }
  .main__p-logo_clic {
    height: 49px;
  }
  .main__p-logo_lease {
    height: 54px;
  }
  .main__p-logo_inf {
    height: 39px;
  }
  .main__p-logo_park {
    height: 28px;
  }
  .main__p-logo_stud {
    height: 33px;
  }
  .main__p-logo_ulti {
    height: 70px;
  }
  .main__link_blue {
    padding-top: 28px;
    padding-bottom: 27px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .main__link_biz {
    padding-top: 32px;
    padding-bottom: 31px;
    padding-right: 9px;
    padding-left: 10px;
  }
  .main__link_tap {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 13px;
    padding-left: 14px;
  }
  .main__link_look {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .main__link_gear {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .main__link_ad {
    padding-top: 29px;
    padding-bottom: 28px;
  }
  .main__link_click {
    padding-top: 21px;
    padding-bottom: 20px;
  }
  .main__link_eco {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .main__link_infra {
    padding-top: 26px;
    padding-bottom: 25px;
  }
  .main__link_city {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .main__link_art {
    padding-top: 29px;
    padding-bottom: 28px;
  }
  .main__link_ultimate {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .slider-wrapper {
    margin-bottom: 15px;
  }

  .none {
    display: none;
  }

  .card__pic {
    width: 100%;
  }

  .body__card-box {
    height: 100%;
    grid-row-gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .body__card {
    margin-bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .body__paragraph {
    display: none;
  }
  .body__date {
    border: none;
  }
  .body__title {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 20px;
  }
  .body__button-container {
    position: static;
    background-image: none;
    height: 100%;
    border-bottom: 4px solid #E6E6F0;
    padding-bottom: 40px;
  }
  .body__button {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .equity {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
