@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Regular.eot");
  src: url("../fonts/subset-TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Regular.woff2") format("woff2"), url("../fonts/subset-TTNorms-Regular.woff") format("woff"), url("../fonts/subset-TTNorms-Regular.ttf") format("truetype"), url("../fonts/subset-TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Medium.eot");
  src: url("../fonts/subset-TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Medium.woff2") format("woff2"), url("../fonts/subset-TTNorms-Medium.woff") format("woff"), url("../fonts/subset-TTNorms-Medium.ttf") format("truetype"), url("../fonts/subset-TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Bold.eot");
  src: url("../fonts/subset-TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Bold.woff2") format("woff2"), url("../fonts/subset-TTNorms-Bold.woff") format("woff"), url("../fonts/subset-TTNorms-Bold.ttf") format("truetype"), url("../fonts/subset-TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Norms", serif;
  box-sizing: border-box;
  min-width: 375px;
}

.header {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.header__icon {
  text-decoration: none;
  display: block;
  border: none;
}
.header__logo {
  border: none;
  height: 100%;
  transition-duration: 1s;
}
.header__logo:hover {
  transform: scale(0.8);
}
.header__link {
  text-decoration: none;
  display: block;
  border: none;
}
.header__link:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0, 0, 0, 0);
}
.header__link_adress {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.header__link_tel {
  color: white;
  line-height: 19px;
  font-weight: 700;
  font-size: 16px;
}
.header__dot {
  margin-left: 10px;
  margin-right: 10px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item_nav {
  margin-right: 15px;
}
.header__item_nav:last-child {
  margin-right: 0;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.header__link_bot {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.header__lang_active {
  background-image: url(../images/active.svg);
  background-repeat: no-repeat;
}
.header__lang {
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: white;
  line-height: 14px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__nav-bar {
  display: flex;
  align-items: center;
}
.header__link_facebook:hover {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0, 0, 0, 0);
}

.container {
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../images/pet.svg), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-position: bottom center, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 600px, auto, auto;
  min-height: 100vh;
}
.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 243px;
}
.container__heading {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: white;
}
.container__scroll-down {
  margin-top: 290px;
  transition: 1s;
}
.container__scroll-down:hover {
  opacity: 0.5;
}

.dropbox {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-position: center;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 50px;
}
.box__scroll-item {
  border-right: 4px solid #E6E6F0;
  padding-right: 40px;
  padding-top: 20px;
}
.box__scroll-item:first-child {
  padding-top: 0;
}
.box__scroll-item:hover {
  border-right: 4px solid #F0145A;
}
.box__heading {
  font-size: 32px;
  line-height: 38px;
  color: white;
  font-weight: 500;
}
.box__paragraph {
  font-size: 21px;
  line-height: 30px;
  color: white;
  font-weight: 300;
}
.box__scroll-menu {
  width: 50%;
}
.box__heading {
  margin-bottom: 20px;
}
.box__experience {
  width: 600px;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 40px;
}
.box__services {
  margin-top: 80px;
}
.box__services-link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #B3B3BA;
  text-decoration: none;
  display: block;
  border: none;
  text-align: center;
}
.box__services_arrow-link {
  display: flex;
  align-items: center;
}
.box__services-heading {
  font-size: 42px;
  line-height: 50px;
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-bottom: 75px;
}
.box__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box__before:before {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
  right: 20px;
  bottom: -10px;
}
.box__after:after {
  content: "";
  position: absolute;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
  right: 40px;
  bottom: -20px;
}

label {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  text-decoration: none;
  display: block;
  border: none;
  text-align: right;
  cursor: pointer;
  width: auto;
}

input:checked ~ label {
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test.swiper-container {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 58px;
}
.card__icon {
  margin-bottom: 20px;
}
.card__title {
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
  font-weight: 400;
  margin-bottom: 15px;
}
.card__title:hover {
  color: #0085FF;
}
.card__title:active {
  color: #006CCF;
}
.card__article {
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.main {
  padding-right: 10px;
  padding-left: 10px;
}
.main__block {
  display: flex;
  background-color: #F5F5FA;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}
.main__link-box {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.main__link-team {
  color: #24A3FF;
  text-decoration: none;
  display: block;
  border: none;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 17px;
}
.main__link-team:hover {
  color: #0085FF;
}
.main__link-team:active {
  color: #006CCF;
}
.main__svg {
  text-align: center;
}
.main__title {
  background: -webkit-linear-gradient(40deg, #F01A5C 62.61%, #EF8080 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main__block_right {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}
.main__title-chief {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #B3B3BA;
}
.main__title-less {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #B3B3BA;
}
.main__avatar {
  display: none;
}
.main__title-chief_mob {
  display: none;
}

.slider-container {
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
}

.slider-wrapper {
  margin-bottom: 20px;
}

.slider-pagination {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background-color: #24A3FF;
  opacity: 1;
}

@media (max-width: 1319px) {
  .header {
    width: 100%;
    padding: 0;
  }
  .header__nav {
    padding-top: 0;
  }
  .header__logo {
    padding-top: 0;
    width: auto;
  }
  .header__link {
    width: auto;
  }
  .header__icon {
    padding-top: 0;
  }

  .container {
    padding: 20px 20px;
  }

  .box {
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  .box__heading {
    font-size: 22px;
    line-height: 26px;
  }
  .box__paragraph {
    font-size: 18px;
    line-height: 26px;
  }
  .box__experience {
    max-width: 300px;
  }
  .box__services-heading {
    font-size: 32px;
    line-height: 38px;
  }

  label {
    font-size: 35px;
  }

  .main {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
  }
  .main__icon {
    display: none;
  }
  .main__block_right {
    margin-top: 20px;
    margin-left: 20px;
  }
  .main__avatar {
    display: block;
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .main__wrapper {
    display: flex;
  }
  .main__text-wrap {
    display: flex;
    flex-direction: column;
  }
  .main__title-chief_mob {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #B3B3BA;
  }
  .main__title-chief {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header__menu {
    display: none;
  }
  .header__link:not(.header__link_mobile) {
    display: none;
  }
  .header__item_dotted {
    display: none;
  }
  .header__logo {
    width: 100%;
    max-height: 31px;
  }
  .header__icon {
    width: auto;
    max-width: 208px;
  }
  .header__nav {
    padding-bottom: 10px;
    width: 100%;
  }
  .header__link_tel {
    color: #B3B3BA;
    margin-left: auto;
  }
  .header__list {
    justify-content: flex-start;
  }
  .header__burger {
    display: block;
    transition-duration: 1s;
  }
  .header__burger:hover {
    transform: rotate(-90deg);
  }
  .header__lang:not(.header__lang_active) {
    color: #B3B3BA;
  }
  .header__mix {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__item_number {
    margin-left: auto;
  }
  .header__dot {
    display: none;
  }

  .container {
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(../images/p.svg), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-position: bottom center, bottom right, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 600px, auto, auto;
  }
  .container__content {
    padding-top: 138px;
    margin-top: 0;
  }
  .container__scroll-down {
    margin-top: 201px;
  }
  .container__heading {
    text-align: center;
    padding-top: 0;
  }

  .box {
    flex-direction: column;
    align-items: flex-start;
  }
  .box__scroll-menu {
    width: auto;
  }
  .box__scroll-item {
    border: none;
    text-align: left;
  }
  .box__scroll-item:hover {
    border: none;
  }
  .box__scroll-item {
    display: none;
  }
  .box__experience {
    width: auto;
    margin-left: 0;
    margin-top: 10px;
    display: none;
  }
  .box__paragraph {
    padding-bottom: 20px;
  }
  .box__card {
    flex-direction: column;
  }
  .box__services {
    margin-top: 45px;
  }
  .box__services-heading {
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .test.swiper-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 36px;
  }
  .test.swiper-container.swiper-pagination-bullet-active {
    background-color: #24A3FF;
  }

  .swiper-slide {
    width: 100%;
  }

  .test.swiper-wrapper {
    justify-content: space-between;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #24A3FF;
  }

  .test.swiper-pagination {
    width: 100%;
  }

  label {
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    width: auto;
    margin-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card__title {
    font-size: 18px;
    line-height: 21px;
    margin-left: 10px;
  }
  .card__article {
    font-size: 16px;
    line-height: 22px;
  }
  .card__icon-image {
    max-width: 64px;
    max-height: 64px;
  }
  .card__with {
    display: flex;
    align-items: center;
  }

  .main__title {
    font-size: 32px;
    line-height: 38px;
  }

  .slider-wrapper {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
