.body{
    background-color: $grey_bg;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    position: relative;

    &__container{
        @include mar;
    }

    &__link-box{
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }

    &__link-pub{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color:$blue;
        @include link;
        &:hover{
            color: #0085FF;
        }

        &:active{
            color: #006CCF;
        }
    }

    &__title{
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        @include pink-text;
        padding-bottom: 40px;
    }

    &__article{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $blue;
        padding-top: 20px;
        padding-bottom: 10px;
        &:hover{
            color: #0085FF;
        }

        &:active{
            color: #006CCF;
        }
    }

    &__date{
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.1em;
        color: $color_grey;
        padding-bottom: 20px;
        border-bottom: 4px solid #E6E6F0;
    }

    &__paragraph{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: black;
        padding-bottom: 21px;
        padding-top: 20px;
    }

    &__text-block{
        display: flex;
        flex-direction: column;
        padding-left: 21px;
        padding-right: 20px;
    }

    &__card{
        background-color: $default_color;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 40px;
    }

    &__card-box{
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-column-gap: 40px;
        height: 720px;
        overflow: hidden;
        border-bottom: 4px solid #E6E6F0;
        position: relative;
    }

    &__card-pic{
        max-width: 100%;
        display: block;
        width: auto;
    }

    &__button-container{
        background-image: $bg_white;
        height: 200px;
        position: absolute;
        width: 98%;

        top: 670px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    &__button-wrap{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__button{
        background-color:$blue;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        padding-top: 16px;
        padding-bottom: 17px;
        text-align: center;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        font-family: inherit;
        color: $default_color;
        border-radius: 8px;
        margin-top: 110px;
        margin-bottom: 40px;
        @include link;
        &:hover{
            background-color: #0085FF;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0,0,0,0);
        }

        &:active{
            background-color: #006CCF;
        }

    }

}

