.header{
    @include mar;
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;


    &__icon{
        @include link;
    }

    &__logo{
        border: none;
        height: 100%;
        transition-duration: 1s ;
        &:hover{
            transform: scale(0.8);
        }
    }

    &__link{
        @include link
    }

    &__link:hover{
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 1px 1px 3px 2px rgba(0,0,0,0);
    }

    &__link_adress{
        color: $default_color;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__link_tel{
        color: $default_color;
        line-height: 19px;
        font-weight: 700;
        font-size: 16px;
    }

    &__dot{
        margin-left: 10px;
        margin-right: 10px;
    }

    &__list{
        @include flex;
        align-items: center;
    }

    &__item_nav{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__menu{
        @include flex;
        justify-content: flex-end;
        padding-top: 16px;
    }

    &__link_bot{
        color: $default_color;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__lang_active{
            background-image: url(../images/active.svg);
            background-repeat: no-repeat;
    }

    &__lang{
        @include link;
        font-weight: 700;
        font-size: $size_s;
        letter-spacing: 0.1em;
        color: $default_color;
        line-height: 14px ;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__item{
        display: flex;
        align-items: center;
    }

    &__burger{
        display: none;
    }

    &__nav-bar{
        display: flex;
        align-items: center;
    }

    &__link_facebook:hover{
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0,0,0,0); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -31px 2px 0px -23px rgba(0,0,0,0);
    }



}