.main{
    padding-right: 10px;
    padding-left: 10px;
    &__block{
        display: flex;
        background-color: $grey_bg;
        @include mar;
        border-radius: 12px;

    }

    &__link-box{
        @include arrow-link;
        margin-bottom: 3px;
    }

    &__link-team{
        color: #24A3FF;
        @include link;
        font-weight: 700;
        letter-spacing: 0.1em;
        font-size: 14px;
        line-height: 17px;
        @include blue-effect;
    }

    &__svg{
        text-align: center;
    }

    &__title{
        @include hot-red-text;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__block_right{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 40px;
    }

    &__title-chief{
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 5px;
        color: #B3B3BA;
    }

    &__title-less{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #B3B3BA;
    }

    &__avatar{
        display: none;
    }

    &__title-chief_mob{
        display: none;
    }
}