@media (max-width: 1289px){
    .header{
        width: 100%;
        padding: 0;

        &__nav{
            padding-top: 0;
        }

        &__logo{
            padding-top: 0;
            width: auto;
        }

        &__link{
            width: auto;
        }

        &__icon{
            padding-top: 0;
        }

    }

    .container{
        padding: 20px 10px;
    }
}

@media (max-width: 767px){
    .header{
        flex-direction: column-reverse;
        align-items: flex-start;


        &__menu{
            display: none;
        }

        &__link:not(.header__link_mobile){
            display: none;
        }

        &__item_dotted{
            display: none;
        }

        &__logo{
            width: 100%;
            max-height: 31px;
        }

        &__icon{
            width: auto;
            max-width: 208px;
        }

        &__nav{
            padding-bottom: 10px;
            width: 100%;
        }

        &__link_tel{
            color: #B3B3BA;
            margin-left: auto;
        }

        &__list{
            justify-content:flex-start;
        }

        &__burger{
            display:block;
            transition-duration: 1s;
            &:hover{
                transform: rotate(-90deg);
            }
        }

        &__lang:not(.header__lang_active){
                color: #B3B3BA; 
        }

        &__mix{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__item_number{
            margin-left: auto;
        }

        &__dot{
            display: none;
        }
    }


}