@mixin link{
    text-decoration: none;
    display: block;
    border: none;
}

@mixin mar{
    max-width: $default_size;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex {
    display: flex;
}

@mixin arrow-link{
    display: flex;
    align-items: center;
}

@mixin pink-text{
    background: $text_pink ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}