$main_font: 'TT Norms',serif;
$default_size: 1320px ;
$default_color:white;
$size_s:12px;
$background_def: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient_b:linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
$color_grey:#B3B3BA;
$text_pink: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$grad_super-soft:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$blue:#24A3FF;
